#Paste your credentials here -
#Required :

API_ID= API_ID
API_HASH= API_HASH
BOT_TOKEN=BOT_TOKEN


#Optional :

#DEFAULT VALUE is None

LOG_CHAT_ID=None


#Streamtape(Optional):

#Default Value is None

API_USERNAME=None
API_PASSWORD=None

