beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
commonmark==0.9.1
decorator==4.4.2
ffmpeg==1.4
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
linkGrabber==0.3.1
lxml==4.9.1
moviepy==1.0.3
numpy==1.22.3
Pillow==9.1.1
proglog==0.1.9
pyaes==1.6.1
Pygments==2.11.2
Pyrogram==1.4.8
PySocks==1.7.1
PySSL==0.0.7
python-decouple==3.6
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
speedtest-cli==2.1.3
TgCrypto==1.2.3
tqdm==4.64.0
urllib3==1.26.8
